<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application" singleton="false">
    <option name="MAIN_CLASS_NAME" value="App.Server.Main" />
    <module name="GirlsChat" />
    <option name="PROGRAM_PARAMETERS" value="-1" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>